@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

html {
    font-size: 18px;
}

body {
    font-family: "Hanken Grotesk";
    font-weight: 500;
}

button {
    font-family: inherit;
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

main {
    display: flex;
    width: 700px;
}

#result-marks,
#result-summary {
    width: 50%;
}

#marks span:first-of-type {
    padding-top: 7px;
    font-weight: 700;
}

#result-marks {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
}

#result-marks h1,
#result-marks p,
#result-marks span:last-of-type {
    color: hsl(241, 100%, 89%);
}

#marks span {
    display: block;
    height: 30%;
}

#marks {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#marks span:first-of-type {
    font-size: 60px;
    height: 70%;
}