@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

html {
    font-size: 18px;
}

body {
    font-family: "Hanken Grotesk";
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 700px;
    /* border: 1px solid black; */
    flex-wrap: wrap ;
    border-radius: 30px;
    box-shadow: 10px 10px 20px hsla(224, 30%, 27%, 0.1);
}

#result-marks,
#result-summary {
    width: 50%;
    min-width: 300px;
    flex-grow: 1;
}

#result-marks {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 30px;
    padding: 30px 50px 45px 50px;
}

#result-marks h1,
#result-marks p,
#result-marks span:last-of-type {
    color: hsl(241, 100%, 89%);
}

#marks span {
    display: block;
}

#marks {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#marks span:first-of-type {
    font-size: 3.75rem;
    font-weight: 700;
}

#marks span:last-of-type {
    font-size: 0.95rem;
}

#result-marks h2 {
    font-size: 1.75rem;
    margin: 20px 0 15px 0;
}

h1 {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

/* Right side */

#result-summary {
    padding: 30px 35px 45px 35px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
}

#result-summary h1 {
    margin-bottom: 25px;
    color: hsl(224, 30%, 27%);
}

ul {
    list-style-type: none;
}

#result-summary img, 
#result-summary span {
    vertical-align: middle;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    border-radius: 8px;
}

li:not(:last-of-type) {
    margin-bottom: 14px;
}

li:last-of-type {
    margin-bottom: 25px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 13px;
    border-radius: 30px;
    border: none;
}

li div:last-of-type span:first-of-type {
    color: hsl(224, 30%, 27%);
    padding-right: 4px;
}

li div:last-of-type span:last-of-type {
    color: hsla(224, 30%, 27%, 0.5);
}

li div:last-of-type span:last-of-type,
li div:last-of-type span:first-of-type {
    font-weight: 800;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 600px) {
    
    body {
        height: 100%;
    }

    #result-marks {
        border-radius: 0 0 30px 30px;
    }

    main {
        border-radius: 0;
        box-shadow: none;
    }

}

@media (max-width: 376px) {

    html {
        font-size: 16px;
    }

    #marks {
        width: 160px;
        height: 160px;
    }

    li {
        padding: 15px 17px;
    }

    button {
        padding: 15px;
    }

}