@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
    font-weight: 800;
}

html {
    font-size: 18px;
}

body {
    font-family: "Hanken Grotesk";
    font-weight: 500;
}

button {
    font-family: inherit;
}

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

main {
    display: flex;
    width: 700px;
}

#result-marks,
#result-summary {
    width: 50%;
}

#result-marks {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 15px 0;
}

#result-marks p {
    padding: 0 50px 5px 50px;
}

#result-marks h1,
#result-marks p,
#result-marks span:last-of-type {
    color: hsl(241, 100%, 89%);
}

#marks span {
    display: block;
    /* height: 30%; */
}

#marks {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#marks span:first-of-type {
    font-size: 3.75rem;
    font-weight: 700;
}

#marks span:last-of-type {
    font-size: 0.95rem;
    margin-top: -7px;
}

#result-marks h2 {
    font-size: 1.75rem;
    margin-bottom: -7px;
}

#result-marks h1 {
    font-size: 1.25rem;
    margin-bottom: 30px;
}